*{
    padding: 0px;
    margin: 0px;
}

body{
   background-image: url(../imagens/fundodesfoque3.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center left;
   height: 100vh;
   font-family: 'Oswald', sans-serif;
}


header{
    display: flex;
    align-items: center;
    flex-direction: column;
  
    padding: 0px 0px 20px 0px;
    color: white;
    text-align: center;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: rgba(6, 5, 5, 0.19);
    padding: 0.2em 1em 0.5em 0em;
    border: 1px solid rgba(18, 17, 17, 0.163);
   
}

ul{
    
    justify-content: flex-end;
}
.nav-tabs{
    border: none;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: transparent;
}

.nav-tabs>li>a:hover{
    border: none;
    transform: scale(1.1);
    transition: 400ms;
}

a:focus, a:hover{
    color: #dec929;
}

nav ul li a {
    color: #ffffff;
    background-color: transparent;
    border: none;
    font-size: 1.8em;
}
.nav-tabs>li{
    padding: 3px 12px;
}

section#main{

    display: flex;
    flex-direction: column;
    margin-left: 3em;

}



div#mainh1 h1{
color: #dec929;
font-size: 4.8em;
font-family: 'Oswald', sans-serif;

}
div#mainh1{
    width: 450px;
    margin: 2.2em 6em 2em 6em;
    line-height: 1.12;
}
h4{
    display: inline-block;
    font-size: 25px;
    color: rgb(164, 163, 163);
    margin-right: 2px;
    margin: 2px 5px 4px 0px;
}

div#infos{
    color: white;
    margin: 0.1em 5em;
    font-size: 20px;
}



 p {
    display: inline-block;
    margin: 0px;
    font-size: 25px;
}

div#valor{
    color: white;
    width: 350px;
    margin: 1em 5em;
    font-size: 20px;
}

#menu-hamburguer{
    display: none;
}

 #total-value{
    color: #dec929ff;
}





@media (max-width:1000px) {

    div#mainh1 h1{
        font-size: 5em;
    }

    p{
        font-size: 22px;
    }

    h4{

        font-size: 22px;
    }
    
    section#main{
        margin-left: 1em;
}
.nav-tabs>li{

    
    padding: 1px 7px;
}
}


@media (max-width: 768px) {

    .nav-tabs>li{

        font-size: 1.9vw;
        padding: 1px 7px;
    }

    div#mainh1 h1{
        font-size: 4.3em;
        
    }

    p{
        font-size: 22px;
    }

    h4{

        font-size: 22px;
    }
    
    section#main{
        margin-left: 0em;
}

    #list{
        display: none;
    }

    nav{
        justify-content: center;
        flex-direction: column;
        padding: 0px;
    }


    #menu-hamburguer{
        display: flex;
        justify-content: center;
        font-size: 2.3em;
        padding: 10px;
        cursor: pointer;
        z-index: 11;
        
    }
    
    ul.nav-tabs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8em 1em 0.3em 1em;
        border-bottom: none;
    }

    .nav-tabs>li{

        font-size: 1.35em;
        padding: 1.65em 6px;
    }


    .show{
        z-index: 10;
        display: inline-block;
        position: fixed;
        top: 0%;
        width: 100%;
        background-color: rgba(6, 5, 5, 0.733);
        padding-bottom: 1em;
        height: 100%;

        
    }

}

@media (max-width: 540px) {


    

    div#mainh1 h1{
        font-size: 3.5em;
        text-align: center;
       
    }

    div#mainh1{
        width: 400px;

    }

    div#valor{
        text-align: center;
        margin: 1em 3em 0.4em 3em;
    }

    div#infos{
        text-align: center;
        margin: 1em 3em 0.4em 3em;
    }


    p{
        font-size: 22px;
    }

    h4{

        font-size: 22px;
    }

    section#main{
        margin-left: 0em;
        align-items: center;
}


}

@media (max-width: 360px) {
    body{
        background-image: none;
        background-color: rgb(11, 11, 11);
    }
    
}